@font-face {
    font-family: 'Vazirmatn';
    src: url("../fonts/Vazirmatn-Regular.ttf");

}

:root {
    --color-primary-blue: #0A43ED;
    --color-primary-orange: #FF5E01;
    --color-primary-black: #282828;

    --color-secondary-blue: #B6CDFF;
    --color-secondary-orange: #FFBDA7;
    --color-secondary-black: #3E3E3E;

    --color-Tertiary-dark-grey: #515151;
    --color-Tertiary-grey: #455A64;
    --color-Tertiary-light-grey: #DFDFDF;

    --font-family: Vazirmatn;

    --Primary-Button-blue-color: var(--color-primary-blue);
    --Primary-Button-orange-color: var(--color-primary-orange);
    --Primary-Button-font: var(--font-family);
    --Primary-Button-text-color: white;
    --Primary-Button-max-width: 30rem;
    --Primary-Button-radius: 12px;
    --Primary-Button-font-size: 28px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    direction: rtl;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.main-hedear {
    max-width: 100%;

    min-height: 80vh;

}

.hendeseh {
    position: relative;
    max-width: 100%;
    height: 100%;
    z-index: -1;
    min-height: 80vh;
}

.hendeseh-heder {
    height: auto;
    transition: all 0.3s ease;
    position: absolute;

}

.hndeh1 {
    left: 92%;
    top: 85%
}

.hndeh2 {
    left: 42%;
    top: 55%
}

.hndeh3 {
    left: 95%;
    top: 5%
}

.hndeh4 {
    left: 52%;
    top: 72%;
    max-width: 80px;
    rotate: 30deg;
}

.hndeh5 {
    left: 65%;
    top: 80%;
    max-width: 40px;
    rotate: 30deg;
}

.hndeh6 {
    left: 78%;
    top: 85%;
    max-width: 90px;
    rotate: 30deg;
}

.hndeh7 {
    left: 45%;
    top: 35%;
    max-width: 40px;
    rotate: 30deg;
}

.hndeh8 {
    left: 70%;
    top: 42%;
    max-width: 40px;
    rotate: 30deg;
}

.hndeh9 {
    left: 48%;
    top: 12%;
    max-width: 40px;
    rotate: 30deg;
}

.hndeh10 {
    left: 60%;
    top: 25%;
    max-width: 30px;
    rotate: 70deg;
}

.hndeh11 {
    left: 90%;
    top: 82%;
    max-width: 38px;
    rotate: 70deg;
}

.hndeh12 {
    left: 88%;
    top: 97%;
    max-width: 38px;
    rotate: 70deg;
}

.hndeh13 {
    left: 2%;
    top: 78%;

    rotate: 180deg;
}

.header {
    position: absolute;
    z-index: 0;

    width: 100%;
    min-height: 75vh;
    top: 0%;
}

.navbar {
    z-index: 1;
    max-width: 100%;
    min-height: 10vh;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-descktop {
    width: 95%;
    list-style: none;
    display: flex;
    font-family: var(--font-family);
    font-size: 24px;
    align-items: center;
    margin-right: 5%;
    gap: 20px;
    max-width: 100%;
    min-height: 10vh;
    z-index: 400;
}

.sidebar {
    width: 100%;
    list-style: none;
    display: none;
    font-family: var(--font-family);
    font-size: 20px;
    align-items: center;
}

.navbar-descktop li,
.sidebar li {
    height: 50px;
}

.navbar-descktop a,
.sidebar a {
    height: 100%;
    padding: 0px 0px;
    text-decoration: none;
    color: var(--color-primary-black);
    display: flex;
    align-items: center;
}

.navbar-descktop li:first-child {
    margin-left: auto;
}

.sidebar {
    direction: rtl;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    height: 100vh;
    width: 150px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.7);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
}

.menubtn {
    display: none;
    margin-right: -5%;

}

.hideonMobile {
    transition: transform 0.2s ease-in-out;
    margin-right: 5%;


}

.hideonMobile:hover {
    transform: scale(1.2);
}

.hideonMobile::after {
    content: '';
    /* محتوای خالی برای ایجاد خط */
    position: absolute;
    /* موقعیت مطلق برای قرار دادن خط */
    left: 0px;
    /* شروع از سمت چپ */
    bottom: 0;
    /* قرار گرفتن در پایین متن */
    width: 100%;
    /* عرض برابر با عرض متن */
    height: 6px;
    /* ارتفاع خط */
    border-radius: 50px;
    background-color: var(--color-primary-blue);
    transform: scale(0);
    /* مقیاس اولیه خط صفر (غیرقابل مشاهده) */
    transition: transform 0.3s ease;
    /* انیمیشن برای تغییر مقیاس */
}

.hideonMobile:hover::after {
    transform: scaleX(1);
}


@media screen and (max-width:450px) {


    .hideonMobile {
        display: none;
    }

    .menubtn {
        display: block;
    }


}

@media screen and (max-width:415px) {

    /*phone*/
    .hideonMobile {
        display: none;
    }

    .menubtn {
        display: block;
    }

    .img1 {
        width: 400px;

    }

    .navbar-descktop a,
    .sidebar a {
        padding: 0px 15px;
    }

}

.header-textandimg {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    min-height: 70vh;
}

.main-hedear .header-textandimg {
    display: flex;
    align-items: center;
    min-height: 80vh;
    justify-content: space-between;

}

.groupcall {
    width: 45%;

    position: absolute;
    left: 0%;
    top: 0%;
    min-height: 70vh;
}

.groupcall .groupcall-img-under {
    width: 110%;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -1;
}

.mentoor-img-groupvideo-phon {
    width: 65%;
    position: absolute;
    left: 20%;
    top: 4.5vw;
}

.text-hedear {
    width: 45%;
    min-height: 70vh;
    position: absolute;
    top: 20%;
    right: 8.5vw;
    font-size: clamp(20px, 1.5vw, 38px)
}

.page1-h1-header {
    display: inline-block;
    font-size: 38px;
    font-family: var(--font-family);
    color: var(--color-primary-black);
    line-height: 1.2;
    font-weight: bold
}

.page1-h3-header {

    top: 11vw;
    font-size: 28px;
    color: var(--color-secondary-black);
    font-family: var(--font-family);
    font-weight: 500;
}

.page1-btn-header {
    background-color: var(--Primary-Button-blue-color);
    max-width: var(--Primary-Button-max-width);
    border-radius: var(--Primary-Button-radius);
    color: var(--Primary-Button-text-color);
    font-family: var(--Primary-Button-font);
    font-size: var(--Primary-Button-font-size);
    border: none;
    padding: 0.5vw 6vw 0.5vw 6vw;
    top: 20vw;
}

.tarahi {
    margin-top: 2vw;
    width: 100%;
    height: 700px;
    min-height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    position: relative;
   
    
    
}
.tarahi-imges{
    z-index: -2;
    
}
.tarahi-imges-vector-poor-rang{
   position: absolute;
   top:3vw;
   z-index: 0;
   width: 100%;
   height: 700px;
}
.tarahi-imges-vector-safheh-up{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 700px;
}
.tarahi-matn{
    width: 100%;
    height: fit-content;
    
    z-index: 0;
}
.tarahi .tarahi-matn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.tarahi-texts-mark{
    width: 17px;
    height: 50PX;
    z-index: 400;
    position: absolute;
    background-color: var(--color-primary-orange);
    border-radius: 8%;
}
.tarahi-texts , .girl-on-top{
    width: 50%;
    z-index: 400;
    
}
.girl-on-top-img{
    position: absolute;
    right: 9vw;
    top: 0;
    width: 32%;
}
.tarahi-texts-mark{
    margin-top: 13.5%;
    margin-right: 1%;
}
.tarahi-texts-h1{
    margin-right: 3vw;
    margin-top: 13vw;
    font-size: 38px;
    color: rgb(255, 255, 255);
    font-family: var(--font-family);
}
.tarahi-texts-p{
    
    position: absolute;
    
    color: rgb(255, 255, 255);
    font-family: var(--font-family);
    font-size: 26px;
    display: flex;
}
.profile-pic{
    width: 100%;
    height: 400px;
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;
}
.profile-pic-text, .profile-pic-img{
    width: 50%;
    align-items: center;
    flex: 1 1 300px;
    
}

.profile-pic-pic {
    margin: 2vw 10vw 2vw 5vw;
    width: 400px;
    height: 400px;
    background-color: #728fdf;
    border-radius: 35px;
    background-image: url(../img/profile.png);
    background-size: 340px 370px;
    background-position: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    
}
.profile-pic-text{
    padding: 2vw 15vw 2vw 0vw;
    color: rgb(0, 0, 0);
    font-family: var(--font-family);
}
.profile-pic-mark{
    width: 17px;
    height: 50PX;
    z-index: 400;
    position: absolute;
    background-color: var(--color-primary-orange);
    border-radius: 8%;
}
.profile-pic-h1{
    margin-right: 2vw;
    
    font-size: 38px;
    color: var(--color-primary-black);
    font-family: var(--font-family);
}
.profile-pic-p{
    
    color: var(--color-primary-black);
    font-family: var(--font-family);
    font-size: 24px;
    display: flex;
}
.profile-pic-btn{
    background-color: var(--Primary-Button-blue-color);
    max-width: var(--Primary-Button-max-width);
    border-radius: var(--Primary-Button-radius);
    color: var(--Primary-Button-text-color);
    font-family: var(--Primary-Button-font);
    font-size: var(--Primary-Button-font-size);
    border: none;
    padding: 0.5vw 6vw 0.5vw 6vw;
    top: 20vw;
}